################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
bin/
obj/
.vs/
.suo
/API/Hu.API/Hu.API/bin/Debug/net7.0/Hu.API.dll
