################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/API/Hu.API/Hu.API/bin/
/API/Hu.API/Hu.API/obj/
/API/Hu.API/.vs/