
<table *ngIf="items" mat-table [dataSource]="items" class="mat-elevation-z8">
    <ng-container *ngFor="let col of columns">
        <ng-container [matColumnDef]="col.columnId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.columnName}} </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="!col.routerLink">{{getValue(element, col)}}</ng-container>
                <a *ngIf="col.routerLink" [routerLink]="getRouterLink(element, col)">{{col.formatFunction ? col.formatFunction(element) : element[col.columnId]}}</a> 
            </td>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>